body {
    text-align: center;
    margin: 0px 0px;
    font-family: 'Arima', cursive;
}


div.board, div#game-info {
    /* border: 1px solid black; */
    /* max-width: 200px;
    height: 200px; */
    
    display: flex;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
}

div.board div.block {
    width: 80px;
    height: 80px;
    background-color: white;
    text-align: center;
    font-size: 60px;
    background-color: #f7bd83;

}

.left {
    border-left: 2px solid black;
}
.right {
    border-right: 2px solid black;
}
.bottom {
    border-bottom: 2px solid black;
}
.top {
    border-top: 2px solid black;
}

#player1, #player2 {
    display: none;
}

div#main-board{
    /* border: 2px solid black; */
    display: inline-block;
    padding: 50px 10px;
    width: 350px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background-color: #f7bd83;
    border-radius: 10px;
}

header{
    background-color: #F2BEA0;
    text-align: center;
    min-height: 200px;
}

header h1 {
    font-size: 100px;
    text-decoration: underline;
}

button, #submit, #submit-computer {
    font-family: 'Arima', cursive;
    font-weight: bold;
    border: 0px solid black;
    background: none;
    width: auto;
    height: auto;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    word-wrap: break-word;
    padding: 5px 5px;
    color: black;
    margin-top: 50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
}

button {
    margin-right: 1em;
    background-color: #ff7c5c;

}

form#form, form#form-computer {
    display: none;
    margin: 20px auto;
    font-size: large;
    border: 2px solid white;
    display: inline-block;
    width: 500px;
    height: auto;
    text-align: center;
    padding: 10px 10px;
    font-weight: bold;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

form#form label, form#form-computer label {
    font-size: x-large;
}

input {
    display: inline-block;
    /* border: 2px solid blue; */
    margin: 10px 10px;
    height: auto;
    font-size: large;
    text-align: center;
    border-radius: 5px;
}

#submit, #submit-computer{
    margin-top: 10px;
    background-color: #f0da7f;
}

#player1, #player2 {
    font-size: 30px;
    font-weight: bolder;
}

#reset {
    background-color: #F2CA50;
}

#play-with-friend {
}

footer{
    height: 200px;
}